{% extends "home/layout.html" %}
{% block title %}
About page
{% endblock %}
{% block content %}
<p class="about">I am a recent graduate and a coding/programming enthusiast looking forward to 
    kickstarting my career in the information technology industry. Throughout my schooling, 
    I have acquired knowledge and skills in varied programming languages 
    and will be happy to apply them in solving problems in your organization. 
    I am a team player and also ready to learn new skills that will lead to my professional development.</p>
    <div class="skills">
        <h1>My Skills</h1>
       <div class="slider"> HTML  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      <input type="range" min="0" max="100" value="95"><br></div>
       <div class="slider">CSS        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="range" min="0" max="100" value="95"><br></div>
        <div class="slider">JavaScript  &nbsp;&nbsp;&nbsp;<input type="range" min="0" max="100" value="60"><br></div>
        <div class="slider">PHP        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="range" min="0" max="100" value="80"><br></div>
        <div class="slider">PYTHON     &nbsp;&nbsp;&nbsp; <input type="range" min="0" max="100" value="85"><br></div>
        <div class="slider">DJANGO     &nbsp;&nbsp;&nbsp; <input type="range" min="0" max="100" value="55"><br></div>
        <div class="slider">SQL         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" min="0" max="100" value="80"><br></div>
        <div class="slider"> MySQL      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="range" min="0" max="100" value="85"></div>
    </div>
{% endblock %}