{% extends "home/layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<div class="container">
  <a class="email_btn"  style="padding: 10px; width:500px; text-decoration: none; height:40px; font-size: 15px; margin: 20px; position: relative; top: 20px; left: 40%; background-color: khaki; border-color: aqua; border-radius: 50px; " href="tel:{{ +254717836655 }}">Call Me</a>
{% load widget_tweaks %}
<form class="row g-3" novalidate id="form1" method="post" action ="" enctype="multipart/form-data" style="margin: 30px;">
    {% csrf_token %}
    <div class="col-sm-10">
    <div class="form-control row mb-3" id="validationDefault01" required> {% render_field form.from_email placeholder="Please enter your email" id="from_email" %} 
      
    </div>
    </div>
    <div class="col-sm-10">
    <div class="form-control row mb-3"> {% render_field form.subject placeholder="Please input the subject" id="sub" %} </div>
    </div>
    <div class="col-sm-10">
     <div class="form-control row mb-3"> {% render_field form.message placeholder="Please enter your message" id="messg" %}</div>
    </div>
    
   
    <div>
        <button type="submit" class="btn btn-primary" onclick="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 280px;">Send</button>
    </div>
    
    {% if response_data.status == 'success' %}
      <script>
        alert("Your message was sent successfully");
      </script>
    {% elif response_data.status == 'error' %}
      <script>
        alert("Somethig went wrong, please try again");
      </script>
    {% endif %} 
    
</form> <br>

{% endblock %}