{% extends "home/layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<button id="btn1" type="submit" class="email_btn" onclick="buttn()">Email Me</button>
{% load widget_tweaks %}
<form class="email_btn" id="form1" method="post" action ="" enctype="multipart/form-data" onsubmit="submitHandler()">
    {% csrf_token %}
    {% render_field form.from_email placeholder="Please enter your email" id="from_email" %} <br>
    {% render_field form.subject placeholder="Please input the subject" id="sub" %} <br>
    {% render_field form.message placeholder="Please enter your message" id="messg" %}
    
   
    <div>
        <button type="submit" id="btn2" onclick="">Send</button>
    </div>
</form> <br>
<div class="Ok_message">
    <p>Your email has been successfully sent. Thank you.</p>
    <button type="submit" id="btn3">OK</button>
</div>
{% for x in my_icon %}
<a class="email_btn" style="padding: 10px;" href="tel:{{ +254717836655 }}"><img src="{{ x.call_icon.url }}" width="80px" height="80px"></a>
{% endfor %}
{% endblock %}