{% extends "home/layout.html" %}
{% block title %}
home page
{% endblock %}
{% block content %}
        
{% for x in Mydetails %}
    <div class="intro"><div id="greet1"> {{ x.greeting1 }} {{x.greeting2 }},</div>
    <!--<div id="greet2"> </div><br>-->
    <div id="name">{{ x.my_name }} here</div>
    <div id="description">A software developer</div>
    {% for doc in my_doc %}
        <div id="cv"><a href="{{ doc.file.url }}"> my resume</a></div>
    {% endfor %}
    </div>
    
    {% if x.my_image %}
        <div class="image"><img src="{{ x.my_image.url }}"  style="width: 400px; height: 600px;"></div>
    {% else %}:
        <p>the image does not exist</p>
    {% endif %}
    
{% endfor %}
        
{% endblock %}