{% extends "home/layout.html" %}
{% block title %}
projects page
{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            
        </div>
      <div class="col">
        {% for x in data %}
            <div class="card" style="width: 20rem; margin: 30px;">
                <img src="{{ x.photo.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{x.name}}</h5>
                <p class="card-text">{{x.describe}}</p>
                <a href="{{x.link}}" class="btn btn-primary">View Project</a>
                </div>
            </div>
        {% endfor %}
      </div>
      <div class="col">

      </div>
    </div>
</div>


{% endblock %}